.main{
  background-color: #bcb7b7;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 40px;
  margin-bottom: 0px;
  color: white;
  width:100%;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
}

.App-intro {
  font-size: large;
}

#main-container {
  display: flex;
  width: 100%;
  height: 100%;
}
#map-container {
  width: 70%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}
#places-list {
  width: 30%;
}

#locations-list {
  display: block;
  box-sizing: border-box;
  height: 450px;
  color: blue;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  overflow: scroll;
  background-color: #B0C4DE;
}
#search-filter-text {
  width :300px;
  height: 30px;
}
#search-btn {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #02b3e4;
  color: white;
  font-size: 20px;
}
.App-footer {
  height: 100%;
  width: 100%;
  display: block;
}
.App-footer-text{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  background-color: #222;
  color: white;
  line-height: 3em;
}
.picture-Style {
  width: 270px;
  height: 270px;
}
.site-image {
  width: 220px;
  height: 220px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 3px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
